/* Cấu hình thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Chiều rộng thanh cuộn */
  background-color: #f0f0f0; /* Màu nền của khu vực thanh cuộn */
  border-radius: 10px; /* Bo tròn góc của thanh cuộn */
}

/* Cấu hình phần "track" (dải trượt) của thanh cuộn */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Nền nhạt cho dải trượt */
  border-radius: 10px; /* Bo tròn góc của dải trượt */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Thêm bóng mờ cho dải trượt */
}

/* Cấu hình phần "thumb" (thanh trượt) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #999999, #414141); /* Màu gradient cho thanh trượt */
  border-radius: 10px; /* Bo tròn góc của thanh trượt */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Hiệu ứng chuyển màu và di chuyển */
}

/* Cấu hình khi di chuột qua thanh trượt */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #fc5c7d, #6a82fb); /* Chuyển đổi gradient khi hover */
  /* background: linear-gradient(50deg, #414141, #999999); */
  transform: scale(1.1); /* Phóng to thanh trượt khi hover */
}

/* Cấu hình khi thanh cuộn không được sử dụng */
::-webkit-scrollbar:disabled {
  background: rgba(0, 0, 0, 0.1); /* Nền thanh cuộn khi không hoạt động */
}
